<%- include('include/_header') %> 
<div class="show">
    <div class="container">
      <div class="py-4 ms-3">
        <a href="/" class="text-decoration-none text-dark">Cars<i class="bi bi-chevron-right mx-2"></i></a><a href="/" class="text-decoration-none text-dark">list Car<i class="bi bi-chevron-right mx-2"></i></a><a href="#" class="text-decoration-none text-dark">Update a Car</i></a>
      </div>
      <h4 class="fw-bold mt-2 ms-3 ">Update a Car</h1>
    </div>

    <div class="container">
      <form action="/api/cars" method="POST" id="update_car">
          <div class="new_car ms-3">
              <div class=" py-4 bg-body">
                  <div class="row mb-4 ms-3">
                      <label for="name" class="text-dark col-md-2">Nama<span class="text-danger">*</span></label>
                      <div class="col-md-6 d-inline">
                        <input type="hidden" name="id" value="<%= car._id %> ">
                        <input type="text" class="form-control" name="name" value="<%= car.name %>"  placeholder="Avanza" required>
                      </div>
                  </div>
                  <div class="row mb-4 ms-3">
                    <label for="price" class="text-dark col-md-2">Sewa Per Hari<span class="text-danger">*</span></label>
                        <div class="col-md-6">
                            <input type="text" class="form-control" name="price" value="<%= car.price %>"  placeholder="Rp 0,-" required>
                        </div>
                  </div>
                  <div class="row ms-3">
                    <label for="size" class="col-sm-2 col-form-label">Ukuran <span class="text-danger">*</span></label>
                    <div class="col-sm-6">
                        <select class="form-select form-select-md mb-3" name="size" id="size" aria-label=".form-select-lg example" required>
                            <option value="Small" <%= car.size =='Small'?'checked':'' %>>Small</option>
                            <option value="Medium"<%= car.size =='Medium'?'checked':'' %>>Medium</option>
                            <option value="Large" <%= car.size =='Large'?'checked':'' %>>Large</option>
                        </select>
                    </div>
                  </div>
                  <div class="row  ms-3">
                    <label for="image" class="col-md-2 col-form-label">Foto <span class="text-danger">*</span></label>
                    <div class="col-md-6">
                        <input class="form-control" type="file" name="image" id="image" required value="<%= car.image %>">
                        <small>File size max. 2MB</small>
                    </div>
                  </div>
              </div>
              <div class="row btn-cancle-save">
                <div class="col-md-2 ">
                    <div class="row">
                        <button type="submit" class="btn btn-cancel ">Cancel</button>
                    </div>
                </div>
                <div class="col-md-2 ">
                    <div class="row">
                        <button type="submit" class="btn btn-save">Save</button>
                    </div>
                </div>
            </div>
          </div>
      </form>
    </div>
  </div>
<%- include('include/_footer') %> 
